In [1]:
# Dependencies
import os
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Create file path
path_extended = ('Resources/NHE2018extended.csv')

# Read csv and convert into df
hc_summary_extendedversion = pd.read_csv(path_extended, skiprows = 1,  
                                         skipinitialspace=True)
hc_summary_extendedversion.head()

,Expenditure Amount (Millions),1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Total National Health Expenditures,"27,214","29,138","31,842","34,595","38,394","41,852","46,081","51,565","58,402",...,"2,491,765","2,593,160","2,682,596","2,791,076","2,875,035","3,025,363","3,199,561","3,347,424","3,487,284","3,649,386"
1,Out of pocket,"12,949","13,357","14,255","15,311","16,928","18,209","18,594","18,537","20,500",...,"294,167","300,223","310,434","319,236","326,864","331,766","341,706","357,217","365,209","375,610"
2,Health Insurance,"7,497","8,236","8,999","9,892","10,971","12,023","15,673","21,109","24,379",...,"1,792,324","1,871,239","1,942,105","2,015,814","2,079,180","2,223,027","2,373,400","2,487,483","2,592,332","2,728,950"
3,Private Health Insurance,"5,812","6,468","7,178","7,952","9,052","10,072","10,296","10,452","11,830",...,"828,493","858,481","890,466","922,048","939,125","994,119","1,060,932","1,119,914","1,175,010","1,243,050"
4,Medicare,-,-,-,-,-,-,"1,842","4,924","6,218",...,"498,859","519,783","544,781","568,477","588,928","618,549","648,783","676,772","705,123","750,182"

In [3]:
# df on the total national expenditures
total_national_expenditures = hc_summary_extendedversion.iloc[[0,1,2,3, 4, 5, 36], :]
total_national_expenditures = total_national_expenditures.set_index('Expenditure Amount (Millions)').T

# Change years to integers
total_national_expenditures = total_national_expenditures.reset_index(drop = False)
total_national_expenditures['index'] = total_national_expenditures['index'].astype('int')
total_national_expenditures = total_national_expenditures.set_index('index')
del total_national_expenditures.index.name

# Remove the years 1960 to 1967 
total_national_expenditures = total_national_expenditures.iloc[8:]

# Change columns from objects to float
total_national_expenditures['Total National Health Expenditures'] = total_national_expenditures['Total National Health Expenditures'].str.replace(',', '')
total_national_expenditures['Out of pocket'] = total_national_expenditures['Out of pocket'].str.replace(',', '')
total_national_expenditures['Health Insurance'] = total_national_expenditures['Health Insurance'].str.replace(',', '')
total_national_expenditures['Private Health Insurance'] = total_national_expenditures['Private Health Insurance'].str.replace(',', '')
total_national_expenditures['Medicare'] = total_national_expenditures['Medicare'].str.replace(',', '')
total_national_expenditures['Medicaid (Title XIX)'] = total_national_expenditures['Medicaid (Title XIX)'].str.replace(',', '')
total_national_expenditures['POPULATION'] = total_national_expenditures['POPULATION'].str.replace(',', '')
total_national_expenditures = total_national_expenditures.astype('int')

# Save as csv
total_national_expenditures.to_csv('Cleaned_Data/total_national_expenditures.csv', 
                                        index = True, header = True)

total_national_expenditures.head()

Expenditure Amount (Millions),Total National Health Expenditures,Out of pocket,Health Insurance,Private Health Insurance,Medicare,Medicaid (Title XIX),POPULATION
1968,58402,20500,24379,11830,6218,3541,206
1969,65923,22601,27565,13363,7045,4174,208
1970,74563,24953,31763,15499,7672,5290,210
1971,82728,26312,36727,17840,8443,6695,213
1972,92657,28646,42617,20690,9325,8314,215

In [4]:
# df holding years 2011-2016
limit_national_expenditures = total_national_expenditures.iloc[43:49,:]

# Save as csv
limit_national_expenditures.to_csv('Clean_2011_2016/total_national_expenditures2011-216.csv', 
                                        index = True, header = True)
limit_national_expenditures

Expenditure Amount (Millions),Total National Health Expenditures,Out of pocket,Health Insurance,Private Health Insurance,Medicare,Medicaid (Title XIX),POPULATION
2011,2682596,310434,1942105,890466,544781,406727,311
2012,2791076,319236,2015814,922048,568477,422904,313
2013,2875035,326864,2079180,939125,588928,445204,316
2014,3025363,331766,2223027,994119,618549,497767,318
2015,3199561,341706,2373400,1060932,648783,542628,320
2016,3347424,357217,2487483,1119914,676772,565380,323

In [5]:
# df used to compare hospital vs clinics expenditures 
hospital_vs_clinics_data = hc_summary_extendedversion.iloc[[100,130], :]
hospital_vs_clinics_data = hospital_vs_clinics_data.set_index('Expenditure Amount (Millions)').T

# Change years to integers
hospital_vs_clinics_data = hospital_vs_clinics_data.reset_index(drop = False)
hospital_vs_clinics_data['index'] = hospital_vs_clinics_data['index'].astype('int')
hospital_vs_clinics_data = hospital_vs_clinics_data.set_index('index')
del hospital_vs_clinics_data.index.name

# Change columns from objects to float
hospital_vs_clinics_data['Total Hospital Expenditures'] = hospital_vs_clinics_data[
                            'Total Hospital Expenditures'].str.replace(',', '')
hospital_vs_clinics_data['Total Physician and Clinical Expenditures'] = hospital_vs_clinics_data[
                            'Total Physician and Clinical Expenditures'].str.replace(',', '')
hospital_vs_clinics_data =hospital_vs_clinics_data.astype('float')

# Remove the years 1960 to 1967 
hospital_vs_clinics_data = hospital_vs_clinics_data.iloc[8:]

# Reformating df
pd.options.display.float_format = '{:,.0f}'.format

# Save as csv
hospital_vs_clinics_data.to_csv('Cleaned_Data/hospital_vs_clinics_data.csv', 
                                        index = True, header = True)

hospital_vs_clinics_data.head()

Expenditure Amount (Millions),Total Hospital Expenditures,Total Physician and Clinical Expenditures
1968,"20,537","11,344"
1969,"23,367","12,716"
1970,"27,168","14,331"
1971,"30,224","15,917"
1972,"33,846","17,706"

In [6]:
#Limited years (2011_2016)
limit_hospital_vs_clinics_data = hospital_vs_clinics_data.iloc[43:49,:]

# Save as csv
limit_hospital_vs_clinics_data.to_csv('Clean_2011_2016/hospital_vs_clinics_data2011_2016.csv', 
                                        index = True, header = True)

limit_hospital_vs_clinics_data

Expenditure Amount (Millions),Total Hospital Expenditures,Total Physician and Clinical Expenditures
2011,"851,850","535,857"
2012,"902,539","557,112"
2013,"937,645","569,581"
2014,"978,213","595,710"
2015,"1,034,626","631,189"
2016,"1,089,545","665,580"

In [7]:
# df on the health consumption expenditures
health_consumption_expenditures  = hc_summary_extendedversion.iloc[[37,38,39,40,41,42], :]
health_consumption_expenditures  = health_consumption_expenditures.set_index('Expenditure Amount (Millions)').T

# Change years to integers
health_consumption_expenditures = health_consumption_expenditures.reset_index(drop = False)
health_consumption_expenditures['index'] = health_consumption_expenditures['index'].astype('int')
health_consumption_expenditures = health_consumption_expenditures.set_index('index')
del health_consumption_expenditures.index.name

# Remove the years 1960 to 1967 
health_consumption_expenditures = health_consumption_expenditures.iloc[8:]

# Change columns from objects to float
health_consumption_expenditures['Health Consumption Expenditures'] = health_consumption_expenditures['Health Consumption Expenditures'].str.replace(',', '')
health_consumption_expenditures['Out of pocket'] = health_consumption_expenditures['Out of pocket'].str.replace(',', '')
health_consumption_expenditures['Health Insurance'] = health_consumption_expenditures['Health Insurance'].str.replace(',', '')
health_consumption_expenditures['Private Health Insurance'] = health_consumption_expenditures['Private Health Insurance'].str.replace(',', '')
health_consumption_expenditures['Medicare'] = health_consumption_expenditures['Medicare'].str.replace(',', '')
health_consumption_expenditures['Medicaid (Title XIX)'] = health_consumption_expenditures['Medicaid (Title XIX)'].str.replace(',', '')
health_consumption_expenditures = health_consumption_expenditures.astype('int')

# Save as csv
health_consumption_expenditures.to_csv('Cleaned_Data/health_consumption_expenditures.csv', 
                                        index = True, header = True)

health_consumption_expenditures.head()

Expenditure Amount (Millions),Health Consumption Expenditures,Out of pocket,Health Insurance,Private Health Insurance,Medicare,Medicaid (Title XIX)
1968,52689,20500,24379,11830,6218,3541
1969,59097,22601,27565,13363,7045,4174
1970,67046,24953,31763,15499,7672,5290
1971,74339,26312,36727,17840,8443,6695
1972,83350,28646,42617,20690,9325,8314

In [8]:
#Limited years (2011_2016)
limit_health_consumption_expenditures = health_consumption_expenditures.iloc[43:49,:]

# Save as csv
limit_health_consumption_expenditures.to_csv('Clean_2011_2016/health_consumption_expenditures2011_2016.csv', 
                                        index = True, header = True)

limit_health_consumption_expenditures

Expenditure Amount (Millions),Health Consumption Expenditures,Out of pocket,Health Insurance,Private Health Insurance,Medicare,Medicaid (Title XIX)
2011,2533414,310434,1942105,890466,544781,406727
2012,2637730,319236,2015814,922048,568477,422904
2013,2720895,326864,2079180,939125,588928,445204
2014,2875585,331766,2223027,994119,618549,497767
2015,3045485,341706,2373400,1060932,648783,542628
2016,3190711,357217,2487483,1119914,676772,565380

In [9]:
# df on the personal health consumption
personal_health_consumption = hc_summary_extendedversion.iloc[[70,71,72,73,74,75], :]
personal_health_consumption  = personal_health_consumption.set_index('Expenditure Amount (Millions)').T

# Change years to integers
personal_health_consumption = personal_health_consumption.reset_index(drop = False)
personal_health_consumption['index'] = personal_health_consumption['index'].astype('int')
personal_health_consumption = personal_health_consumption.set_index('index')
del personal_health_consumption.index.name

# Remove the years 1960 to 1967 
personal_health_consumption = personal_health_consumption.iloc[8:]

# Change columns from objects to float
personal_health_consumption['Personal Health Care'] = personal_health_consumption['Personal Health Care'].str.replace(',', '')
personal_health_consumption['Out of pocket'] = personal_health_consumption['Out of pocket'].str.replace(',', '')
personal_health_consumption['Health Insurance'] = personal_health_consumption['Health Insurance'].str.replace(',', '')
personal_health_consumption['Private Health Insurance'] = personal_health_consumption['Private Health Insurance'].str.replace(',', '')
personal_health_consumption['Medicare'] = personal_health_consumption['Medicare'].str.replace(',', '')
personal_health_consumption['Medicaid (Title XIX)'] = personal_health_consumption['Medicaid (Title XIX)'].str.replace(',', '')
personal_health_consumption = personal_health_consumption.astype('int')

# Save as csv
personal_health_consumption.to_csv('Cleaned_Data/personal_health_consumption.csv', 
                                        index = True, header = True)

personal_health_consumption.head()

Expenditure Amount (Millions),Personal Health Care,Out of pocket,Health Insurance,Private Health Insurance,Medicare,Medicaid (Title XIX)
1968,49128,20500,22277,10194,5931,3385
1969,55510,22601,25683,12008,6735,3984
1970,63059,24953,29650,14065,7276,5039
1971,69437,26312,33986,15828,8036,6411
1972,77162,28646,38795,17727,8851,7973

In [10]:
#Limited years (2011_2016)
limit_personal_health_consumption = personal_health_consumption.iloc[43:49,:]

# Save as csv
limit_personal_health_consumption.to_csv('Clean_2011_2016/personal_health_consumption2011_2016.csv', 
                                        index = True, header = True)

limit_personal_health_consumption

Expenditure Amount (Millions),Personal Health Care,Out of pocket,Health Insurance,Private Health Insurance,Medicare,Medicaid (Title XIX)
2011,2267261,310434,1760359,780034,512035,373664
2012,2361128,319236,1829263,809780,533787,388421
2013,2431189,326864,1884563,824224,553634,405894
2014,2556043,331766,2003655,869488,580498,446570
2015,2710249,341706,2142912,936467,607149,484117
2016,2838312,357217,2242575,989682,629918,503965