In [1]:
# Dependencies
import os
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Create paths to file
path_2011 = ('Resources/2011medicare.csv')
path_2012 = ('Resources/2012medicare.csv')
path_2013 = ('Resources/2013medicare.csv')
path_2014 = ('Resources/2014medicare.csv')
path_2015 = ('Resources/2015medicare.csv')
path_2016 = ('Resources/2016medicare.csv')


# Reading csv's files
medicare_data_2011_extended = pd.read_csv(path_2011)
medicare_data_2012_extended = pd.read_csv(path_2012, skiprows = 1)
medicare_data_2013_extended = pd.read_csv(path_2013, skiprows = 1)
medicare_data_2014_extended = pd.read_csv(path_2014)
medicare_data_2015_extended = pd.read_csv(path_2015, skiprows = 1)
medicare_data_2016_extended = pd.read_csv(path_2016, skiprows = 1)

medicare_data_2015_extended.head()

,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,PQI11 Bacterial Pneumonia Admission Rate (age < 65),PQI11 Bacterial Pneumonia Admission Rate (age 65-74),PQI11 Bacterial Pneumonia Admission Rate (age 75+),PQI12 UTI Admission Rate (age < 65),PQI12 UTI Admission Rate (age 65-74),PQI12 UTI Admission Rate (age 75+),PQI15 Asthma in Younger Adults Admission Rate (age < 40),PQI16 Lower Extremity Amputation Admission Rate (age < 65),PQI16 Lower Extremity Amputation Admission Rate (age 65-74),PQI16 Lower Extremity Amputation Admission Rate (age 75+)
0,Na,NATIONAL TOTAL,NaN,"52,105,968","33,551,417","18,554,551",35.61 %,71,54.94 %,45.06 %,...,628,472,"1,366",333,256,"1,084",234,156,52,48
1,AK,STATE TOTAL,NaN,"75,510","74,617",893,1.18 %,70,50.40 %,49.60 %,...,465,392,"1,149",189,174,676,0,*,*,56
2,AK,Aleutians East,2013.0,112,112,0,0.00 %,72,46.43 %,53.57 %,...,,,,,,,,,,
3,AK,Aleutians West,2016.0,*,143,*,*,70,51.75 %,48.25 %,...,,,,,,,,,,
4,AK,Anchorage,2020.0,"29,095","28,746",349,1.20 %,70,52.63 %,47.37 %,...,,,,,,,,,,

In [3]:
# Created usuable data df by years
medicare_data_2011 = medicare_data_2011_extended.iloc[:, 0:22]
medicare_data_2012 = medicare_data_2012_extended.iloc[:, 0:22]
medicare_data_2013 = medicare_data_2013_extended.iloc[:, 0:22]
medicare_data_2014 = medicare_data_2014_extended.iloc[:, 0:22]
medicare_data_2015 = medicare_data_2015_extended.iloc[:, 0:22]
medicare_data_2016 = medicare_data_2016_extended.iloc[:, 0:22]

medicare_data_2011.head()

,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,Percent Hispanic,Percent Other/Unknown,Percent Eligible for Medicaid,Average HCC Score,Total Actual Costs,Total Standardized Costs,Total Standardized Risk-Adjusted Costs,Actual Per Capita Costs,Standardized Per Capita Costs,Standardized Risk-Adjusted Per Capita Costs
0,Na,NATIONAL TOTAL,NaN,"46,357,592","33,243,630","13,113,962",28.29%,71,55.54%,44.46%,...,5.93%,3.75%,22.40%,1,"$323,694,090,197.63","$303,824,095,766.89","$312,852,902,666.51","$9,737.03","$9,139.32","$9,410.91"
1,AK,STATE TOTAL,NaN,"63,441","62,803",638,1.01%,70,50.58%,49.42%,...,2.34%,20.30%,24.81%,0.81,"$525,488,077.11","$371,015,384.00","$469,313,759.55","$8,367.24","$5,907.61","$7,472.79"
2,AK,Aleutians East,2013.0,*,96,*,*,70,44.79%,55.21%,...,*,*,30.21%,0.68,"$784,742.41","$422,536.57","$486,657.24","$8,174.40","$4,401.42","$5,069.35"
3,AK,Aleutians West,2016.0,111,111,0,0.00%,70,46.85%,53.15%,...,*,*,28.83%,0.69,"$980,615.19","$552,012.13","$496,730.81","$8,834.37","$4,973.08","$4,475.05"
4,AK,Anchorage,2020.0,"24,713","24,438",275,1.11%,69,52.88%,47.12%,...,3.85%,18.54%,25.92%,0.85,"$192,993,911.42","$147,701,130.81","$176,878,427.56","$7,897.29","$6,043.91","$7,237.84"

In [4]:
# State total df broken down by years
medicare_state_data_2011 = medicare_data_2011.loc[(
                medicare_data_2011['County'] == 'STATE TOTAL'), :]
medicare_state_data_2012 = medicare_data_2012.loc[(
                medicare_data_2012['County'] == 'STATE TOTAL'), :]
medicare_state_data_2013 = medicare_data_2013.loc[(
                medicare_data_2013['County'] == 'STATE TOTAL'), :]
medicare_state_data_2014 = medicare_data_2014.loc[(
                medicare_data_2014['County'] == 'STATE TOTAL'), :]
medicare_state_data_2015 = medicare_data_2015.loc[(
                medicare_data_2015['County'] == 'STATE TOTAL'), :]
medicare_state_data_2016 = medicare_data_2016.loc[(
                medicare_data_2016['County'] == 'STATE TOTAL'), :]

medicare_state_data_2016.head()

,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,Percent Hispanic,Percent Other/Unknown,Percent Eligible for Medicaid,Average HCC Score,Total Actual Costs,Total Standardized Costs,Total Standardized Risk-Adjusted Costs,Actual Per Capita Costs,Standardized Per Capita Costs,Standardized Risk-Adjusted Per Capita Costs
1,AK,STATE TOTAL,NaN,"79,228","78,312",916,1.16 %,70,50.36 %,49.64 %,...,2.60 %,20.49 %,23.01 %,0.81,"$724,799,141.49","$539,259,517.82","$710,220,365.82","$9,255.28","$6,886.04","$9,069.11"
32,AL,STATE TOTAL,NaN,"951,794","674,598","277,196",29.12 %,70,55.89 %,44.11 %,...,0.62 %,1.39 %,20.00 %,0.99,"$6,103,642,664.97","$6,694,358,210.11","$7,262,345,583.08","$9,047.82","$9,923.48","$10,765.44"
101,AR,STATE TOTAL,NaN,"584,039","448,753","135,286",23.16 %,70,55.09 %,44.91 %,...,1.20 %,1.77 %,21.78 %,0.94,"$3,901,203,031.88","$4,189,398,854.43","$4,697,815,219.73","$8,693.43","$9,335.65","$10,468.60"
178,AZ,STATE TOTAL,NaN,"1,115,275","639,570","475,705",42.65 %,72,52.85 %,47.15 %,...,7.95 %,6.83 %,10.99 %,0.91,"$5,898,227,021.39","$5,578,265,392.73","$6,661,369,204.83","$9,222.18","$8,721.90","$10,415.39"
195,CA,STATE TOTAL,NaN,"5,338,224","2,815,420","2,522,804",47.26 %,72,53.97 %,46.03 %,...,16.72 %,13.66 %,30.17 %,1.02,"$32,425,811,718.29","$25,894,579,211.51","$25,951,806,971.44","$11,517.22","$9,197.41","$9,217.74"

In [5]:
# National total df broken down by years
medicare_national_data_2011 = medicare_data_2011.loc[(
                medicare_data_2011['County'] == 'NATIONAL TOTAL'), :]
medicare_national_data_2012 = medicare_data_2012.loc[(
                medicare_data_2012['County'] == 'NATIONAL TOTAL'), :]
medicare_national_data_2013 = medicare_data_2013.loc[(
                medicare_data_2013['County'] == 'NATIONAL TOTAL'), :]
medicare_national_data_2014 = medicare_data_2014.loc[(
                medicare_data_2014['County'] == 'NATIONAL TOTAL'), :]
medicare_national_data_2015 = medicare_data_2015.loc[(
                medicare_data_2015['County'] == 'NATIONAL TOTAL'), :]
medicare_national_data_2016 = medicare_data_2016.loc[(
                medicare_data_2016['County'] == 'NATIONAL TOTAL'), :]

medicare_national_data_2016.head()

,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,Percent Hispanic,Percent Other/Unknown,Percent Eligible for Medicaid,Average HCC Score,Total Actual Costs,Total Standardized Costs,Total Standardized Risk-Adjusted Costs,Actual Per Capita Costs,Standardized Per Capita Costs,Standardized Risk-Adjusted Per Capita Costs
0,Na,NATIONAL TOTAL,NaN,"53,414,066","33,991,540","19,422,526",36.36 %,71,54.88 %,45.12 %,...,5.87 %,5.10 %,20.72 %,1.00,"$343,377,861,003.88","$325,113,988,640.43","$344,212,431,845.40","$10,101.86","$9,564.56","$10,126.41"

In [6]:
# Converting data types from object into float (2011)
medicare_ethnicity_2011 = medicare_state_data_2011.iloc[:, [0, 8, 9, 10, 11, 12, 13]]
medicare_ethnicity_2011["Percent Female"] = medicare_ethnicity_2011["Percent Female"
                                            ].str.replace('%', '').astype(float)
medicare_ethnicity_2011["Percent Male"] = medicare_ethnicity_2011["Percent Male"
                                            ].str.replace('%', '').astype(float)
medicare_ethnicity_2011["Percent Non-Hispanic White"] = medicare_ethnicity_2011[
                "Percent Non-Hispanic White"].str.replace('%', '').astype(float)
medicare_ethnicity_2011["Percent African American"] = medicare_ethnicity_2011[
                "Percent African American"].str.replace('%', '').astype(float)
medicare_ethnicity_2011["Percent Hispanic"] = medicare_ethnicity_2011[
                "Percent Hispanic"].str.replace('%', '').astype(float)
medicare_ethnicity_2011["Percent Other/Unknown"] = medicare_ethnicity_2011[
                "Percent Other/Unknown"].str.replace('%', '').astype(float)

# Converting data types from object into float (2012)
medicare_ethnicity_2012 = medicare_state_data_2012.iloc[:, [0, 8, 9, 10, 11, 12, 13]]
medicare_ethnicity_2012["Percent Female"] = medicare_ethnicity_2012["Percent Female"
                                                ].str.replace('%', '').astype(float)
medicare_ethnicity_2012["Percent Male"] = medicare_ethnicity_2012["Percent Male"
                                                ].str.replace('%', '').astype(float)
medicare_ethnicity_2012["Percent Non-Hispanic White"] = medicare_ethnicity_2012[
                "Percent Non-Hispanic White"].str.replace('%', '').astype(float)
medicare_ethnicity_2012["Percent African American"] = medicare_ethnicity_2012[
                "Percent African American"].str.replace('%', '').astype(float)
medicare_ethnicity_2012["Percent Hispanic"] = medicare_ethnicity_2012[
                "Percent Hispanic"].str.replace('%', '').astype(float)
medicare_ethnicity_2012["Percent Other/Unknown"] = medicare_ethnicity_2012[
                "Percent Other/Unknown"].str.replace('%', '').astype(float)

# Converting data types from object into float (2013)
medicare_ethnicity_2013 = medicare_state_data_2013.iloc[:, [0, 8, 9, 10, 11, 12, 13]]
medicare_ethnicity_2013["Percent Female"] = medicare_ethnicity_2013["Percent Female"
                                                ].str.replace('%', '').astype(float)
medicare_ethnicity_2013["Percent Male"] = medicare_ethnicity_2013["Percent Male"
                                                ].str.replace('%', '').astype(float)
medicare_ethnicity_2013["Percent Non-Hispanic White"] = medicare_ethnicity_2013[
                "Percent Non-Hispanic White"].str.replace('%', '').astype(float)
medicare_ethnicity_2013["Percent African American"] = medicare_ethnicity_2013[
                "Percent African American"].str.replace('%', '').astype(float)
medicare_ethnicity_2013["Percent Hispanic"] = medicare_ethnicity_2013[
                "Percent Hispanic"].str.replace('%', '').astype(float)
medicare_ethnicity_2013["Percent Other/Unknown"] = medicare_ethnicity_2013[
                "Percent Other/Unknown"].str.replace('%', '').astype(float)


# Converting data types from object into float (2014)
medicare_ethnicity_2014 = medicare_state_data_2014.iloc[:, [0, 8, 9, 10, 11, 12, 13]]
medicare_ethnicity_2014["Percent Female"] = medicare_ethnicity_2014["Percent Female"
                                            ].str.replace('%', '').astype(float)
medicare_ethnicity_2014["Percent Male"] = medicare_ethnicity_2014["Percent Male"
                                            ].str.replace('%', '').astype(float)
medicare_ethnicity_2014["Percent Non-Hispanic White"] = medicare_ethnicity_2014[
                "Percent Non-Hispanic White"].str.replace('%', '').astype(float)
medicare_ethnicity_2014["Percent African American"] = medicare_ethnicity_2014[
                "Percent African American"].str.replace('%', '').astype(float)
medicare_ethnicity_2014["Percent Hispanic"] = medicare_ethnicity_2014[
                "Percent Hispanic"].str.replace('%', '').astype(float)
medicare_ethnicity_2014["Percent Other/Unknown"] = medicare_ethnicity_2014[
                "Percent Other/Unknown"].str.replace('%', '').astype(float)

# Converting data types from object into float (2015)
medicare_ethnicity_2015 = medicare_state_data_2015.iloc[:, [0, 8, 9, 10, 11, 12, 13]]
medicare_ethnicity_2015["Percent Female"] = medicare_ethnicity_2015["Percent Female"
                                                ].str.replace('%', '').astype(float)
medicare_ethnicity_2015["Percent Male"] = medicare_ethnicity_2015["Percent Male"
                                                ].str.replace('%', '').astype(float)
medicare_ethnicity_2015["Percent Non-Hispanic White"] = medicare_ethnicity_2015[
                "Percent Non-Hispanic White"].str.replace('%', '').astype(float)
medicare_ethnicity_2015["Percent African American"] = medicare_ethnicity_2015[
                "Percent African American"].str.replace('%', '').astype(float)
medicare_ethnicity_2015["Percent Hispanic"] = medicare_ethnicity_2015[
                "Percent Hispanic"].str.replace('%', '').astype(float)
medicare_ethnicity_2015["Percent Other/Unknown"] = medicare_ethnicity_2015[
                "Percent Other/Unknown"].str.replace('%', '').astype(float)


# Converting data types from object into float (2016)
medicare_ethnicity_2016 = medicare_state_data_2016.iloc[:, [0, 8, 9, 10, 11, 12, 13]]
medicare_ethnicity_2016["Percent Female"] = medicare_ethnicity_2016["Percent Female"
                                                ].str.replace('%', '').astype(float)
medicare_ethnicity_2016["Percent Male"] = medicare_ethnicity_2016["Percent Male"
                                                ].str.replace('%', '').astype(float)
medicare_ethnicity_2016["Percent Non-Hispanic White"] = medicare_ethnicity_2016[
                "Percent Non-Hispanic White"].str.replace('%', '').astype(float)
medicare_ethnicity_2016["Percent African American"] = medicare_ethnicity_2016[
                "Percent African American"].str.replace('%', '').astype(float)
medicare_ethnicity_2016["Percent Hispanic"] = medicare_ethnicity_2016[
                "Percent Hispanic"].str.replace('%', '').astype(float)
medicare_ethnicity_2016["Percent Other/Unknown"] = medicare_ethnicity_2016[
                "Percent Other/Unknown"].str.replace('%', '').astype(float)

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:87: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
# Merge 2011 and 2012 ethnicity breakdown by year
ethnicity_breakdown_early = pd.merge(medicare_ethnicity_2011, medicare_ethnicity_2012, 
                        on="State", suffixes=(" 2011", " 2012"))

# Merge 2013 and 2014 ethnicity breakdown by year
ethnicity_breakdown_mid = pd.merge(medicare_ethnicity_2013, medicare_ethnicity_2014, 
                        on="State", suffixes=(" 2013", " 2014"))

# Merge 2015 and 2016 tethnicity breakdown by year
ethnicity_breakdown_late = pd.merge(medicare_ethnicity_2015, medicare_ethnicity_2016, 
                        on="State", suffixes=(" 2015", " 2016"))

# Merge early and mid ethnicity breakdowns per state
ethnicity_breakdown_merge1 = pd.merge(ethnicity_breakdown_early, 
                            ethnicity_breakdown_mid, on="State")

# Merge early and mid ethnicity breakdowns per state
medicare_ethnicity_breakdown = pd.merge(ethnicity_breakdown_merge1, 
                            ethnicity_breakdown_late, on="State")

# Reformatted df
pd.options.display.float_format = '{:.2f}%'.format

# Save to csv
medicare_ethnicity_breakdown.to_csv('Clean_2011_2016/medicare_ethnicity_breakdown2011_2016.csv', 
                                        index = True, header = True)

medicare_ethnicity_breakdown.head()

,State,Percent Female 2011,Percent Male 2011,Percent Non-Hispanic White 2011,Percent African American 2011,Percent Hispanic 2011,Percent Other/Unknown 2011,Percent Female 2012,Percent Male 2012,Percent Non-Hispanic White 2012,...,Percent Non-Hispanic White 2015,Percent African American 2015,Percent Hispanic 2015,Percent Other/Unknown 2015,Percent Female 2016,Percent Male 2016,Percent Non-Hispanic White 2016,Percent African American 2016,Percent Hispanic 2016,Percent Other/Unknown 2016
0,AK,50.58%,49.42%,74.64%,2.71%,2.34%,20.30%,50.54%,49.46%,74.66%,...,74.34%,2.66%,2.56%,20.44%,50.36%,49.64%,74.28%,2.63%,2.60%,20.49%
1,AL,56.17%,43.83%,78.51%,20.17%,0.48%,0.83%,56.04%,43.96%,78.38%,...,78.08%,20.04%,0.59%,1.29%,55.89%,44.11%,77.95%,20.03%,0.62%,1.39%
2,AR,55.43%,44.57%,87.04%,10.89%,0.88%,1.20%,55.31%,44.69%,86.95%,...,86.48%,10.73%,1.14%,1.65%,55.09%,44.91%,86.29%,10.74%,1.20%,1.77%
3,AZ,52.58%,47.42%,84.28%,2.38%,7.94%,5.40%,52.63%,47.37%,84.08%,...,83.13%,2.38%,7.92%,6.57%,52.85%,47.15%,82.83%,2.39%,7.95%,6.83%
4,CA,54.24%,45.76%,64.27%,5.93%,17.32%,12.48%,54.18%,45.82%,64.27%,...,65.24%,5.38%,16.32%,13.05%,53.97%,46.03%,64.19%,5.43%,16.72%,13.66%

In [8]:
# Creating Total Costs per state dfs (formating them as well)
   
# 2011 total cost per state df
medicare_total_cost_2011 = medicare_state_data_2011.iloc[:, [0, 4, 16]]
medicare_total_cost_2011['Total Actual Costs'] = medicare_total_cost_2011[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_total_cost_2011['FFS Beneficiaries'] = (
                medicare_total_cost_2011['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

# 2012 total cost per state df
medicare_total_cost_2012 = medicare_state_data_2012.iloc[:, [0, 4, 16]]
medicare_total_cost_2012['Total Actual Costs'] = medicare_total_cost_2012[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_total_cost_2012['FFS Beneficiaries'] = (
                medicare_total_cost_2012['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

# 2013 total cost per state df
medicare_total_cost_2013 = medicare_state_data_2013.iloc[:, [0, 4, 16]]
medicare_total_cost_2013['Total Actual Costs'] = medicare_total_cost_2013[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_total_cost_2013['FFS Beneficiaries'] = (
                medicare_total_cost_2013['FFS Beneficiaries'
                ].str.replace(',','').astype(float))
    
# 2014 total cost per state df
medicare_total_cost_2014 = medicare_state_data_2014.iloc[:, [0, 4, 16]]
medicare_total_cost_2014['Total Actual Costs'] = medicare_total_cost_2014[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_total_cost_2014['FFS Beneficiaries'] = (
                medicare_total_cost_2014['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

# 2015 total cost per state df
medicare_total_cost_2015 = medicare_state_data_2015.iloc[:, [0, 4, 16]]
medicare_total_cost_2015['Total Actual Costs'] = medicare_total_cost_2015[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_total_cost_2015['FFS Beneficiaries'] = (
                medicare_total_cost_2015['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

# 2016 total cost per state df
medicare_total_cost_2016 = medicare_state_data_2016.iloc[:, [0, 4, 16]]
medicare_total_cost_2016['Total Actual Costs'] = medicare_total_cost_2016[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_total_cost_2016['FFS Beneficiaries'] = (
                medicare_total_cost_2016['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
# Merge 2011 and 2012 total costs per state
medicare_total_cost_early = pd.merge(medicare_total_cost_2011, medicare_total_cost_2012, 
                        on="State", suffixes=(" 2011", " 2012"))

# Merge 2013 and 2014 total costs per state
medicare_total_cost_mid = pd.merge(medicare_total_cost_2013, medicare_total_cost_2014, 
                        on="State", suffixes=(" 2013", " 2014"))

# Merge 2015 and 2016 total costs per state
medicare_total_cost_late = pd.merge(medicare_total_cost_2015, medicare_total_cost_2016, 
                        on="State", suffixes=(" 2015", " 2016"))

# Merge all total costs per state
medicare_state_merge1 = pd.merge(medicare_total_cost_early, 
                            medicare_total_cost_mid, on="State")

# Merge all total costs per state
medicare_state_costs = pd.merge(medicare_state_merge1, 
                            medicare_total_cost_late, on="State")

# Sorted values
medicare_state_costs = medicare_state_costs.sort_values(
                            by = 'Total Actual Costs 2011', ascending = False)

# Reformatted df
pd.options.display.float_format = '{:,.0f}'.format
medicare_state_costs = medicare_state_costs.rename(
                            columns = {'FFS Beneficiaries 2011':'Beneficiaries 2011',
                            'FFS Beneficiaries 2012':'Beneficiaries 2012',
                            'FFS Beneficiaries 2013':'Beneficiaries 2013',           
                            'FFS Beneficiaries 2014':'Beneficiaries 2014',
                            'FFS Beneficiaries 2015':'Beneficiaries 2015',
                            'FFS Beneficiaries 2016':'Beneficiaries 2016'})

# Save to csv
medicare_state_costs.to_csv('Clean_2011_2016/medicare_state_costs2011_2016.csv', 
                                        index = True, header = True)

medicare_state_costs.style.format({'Total Actual Costs 2011':'${:,.2f}'.format,
                        'Total Actual Costs 2012':'${:,.2f}'.format,
                        'Total Actual Costs 2013':'${:,.2f}'.format,
                        'Total Actual Costs 2014':'${:,.2f}'.format,
                        'Total Actual Costs 2015':'${:,.2f}'.format,
                        'Total Actual Costs 2016':'${:,.2f}'.format, 
                        'Beneficiaries 2011': '{:,.0f}'.format,
                        'Beneficiaries 2012': '{:,.0f}'.format,
                        'Beneficiaries 2013': '{:,.0f}'.format,
                        'Beneficiaries 2014': '{:,.0f}'.format,
                        'Beneficiaries 2015': '{:,.0f}'.format,
                        'Beneficiaries 2016': '{:,.0f}'.format,})

In [10]:
# Creating Total Medicare Costs nationally dfs (formating them as well)
   
# 2011 medicare cost nationally df
medicare_national_cost_2011 = medicare_national_data_2011.iloc[:, [1, 4, 16]]
medicare_national_cost_2011['Total Actual Costs'] = medicare_national_cost_2011[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_national_cost_2011['FFS Beneficiaries'] = (
                medicare_national_cost_2011['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

# 2012 medicare cost nationally df
medicare_national_cost_2012 = medicare_national_data_2012.iloc[:, [1, 4, 16]]
medicare_national_cost_2012['Total Actual Costs'] = medicare_national_cost_2012[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_national_cost_2012['FFS Beneficiaries'] = (
                medicare_national_cost_2012['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

# 2013 medicare cost nationally df
medicare_national_cost_2013 = medicare_national_data_2013.iloc[:, [1, 4, 16]]
medicare_national_cost_2013['Total Actual Costs'] = medicare_national_cost_2013[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_national_cost_2013['FFS Beneficiaries'] = (
                medicare_national_cost_2013['FFS Beneficiaries'
                ].str.replace(',','').astype(int))
    
# 2014 medicare cost nationally df
medicare_national_cost_2014 = medicare_national_data_2014.iloc[:, [1, 4, 16]]
medicare_national_cost_2014['Total Actual Costs'] = medicare_national_cost_2014[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_national_cost_2014['FFS Beneficiaries'] = (
                medicare_national_cost_2014['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

# 2015 medicare cost nationally df
medicare_national_cost_2015 = medicare_national_data_2015.iloc[:, [1, 4, 16]]
medicare_national_cost_2015['Total Actual Costs'] = medicare_national_cost_2015[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_national_cost_2015['FFS Beneficiaries'] = (
                medicare_national_cost_2015['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

# 2016 medicare cost nationally df
medicare_national_cost_2016 = medicare_national_data_2016.iloc[:, [1, 4, 16]]
medicare_national_cost_2016['Total Actual Costs'] = medicare_national_cost_2016[
    'Total Actual Costs'].str.replace(',', '').str.replace('$', '').astype(float)
medicare_national_cost_2016['FFS Beneficiaries'] = (
                medicare_national_cost_2016['FFS Beneficiaries'
                ].str.replace(',','').astype(int))

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
# More formatting before merging
# 2011 national df
national_cost_2011 = medicare_national_cost_2011.set_index('County')
del national_cost_2011.index.name
medicare_national_costs_2011 = national_cost_2011.T
medicare_national_costs_2011 = medicare_national_costs_2011.rename(columns={'NATIONAL TOTAL': 2011})
mc_national_cost_2011 = medicare_national_costs_2011.reset_index(drop = False)

# 2012 national df
national_cost_2012 = medicare_national_cost_2012.set_index('County')
del national_cost_2012.index.name
medicare_national_costs_2012 = national_cost_2012.T
medicare_national_costs_2012 = medicare_national_costs_2012.rename(columns={'NATIONAL TOTAL': 2012})
mc_national_cost_2012 = medicare_national_costs_2012.reset_index(drop = False)

# 2013 national df
national_cost_2013 = medicare_national_cost_2013.set_index('County')
del national_cost_2013.index.name
medicare_national_costs_2013 = national_cost_2013.T
medicare_national_costs_2013 = medicare_national_costs_2013.rename(columns={'NATIONAL TOTAL': 2013})
mc_national_cost_2013 = medicare_national_costs_2013.reset_index(drop = False)

# 2014 national df
national_cost_2014 = medicare_national_cost_2014.set_index('County')
del national_cost_2014.index.name
medicare_national_costs_2014 = national_cost_2014.T
medicare_national_costs_2014 = medicare_national_costs_2014.rename(columns={'NATIONAL TOTAL': 2014})
mc_national_cost_2014 = medicare_national_costs_2014.reset_index(drop = False)

# 2015 national df
national_cost_2015 = medicare_national_cost_2015.set_index('County')
del national_cost_2015.index.name
medicare_national_costs_2015 = national_cost_2015.T
medicare_national_costs_2015 = medicare_national_costs_2015.rename(columns={'NATIONAL TOTAL': 2015})
mc_national_cost_2015 = medicare_national_costs_2015.reset_index(drop = False)

# 2016 national df
national_cost_2016 = medicare_national_cost_2016.set_index('County')
del national_cost_2016.index.name
medicare_national_costs_2016 = national_cost_2016.T
medicare_national_costs_2016 = medicare_national_costs_2016.rename(columns={'NATIONAL TOTAL': 2016})
mc_national_cost_2016 = medicare_national_costs_2016.reset_index(drop = False)
mc_national_cost_2016

                index            2016
0   FFS Beneficiaries      33,991,540
1  Total Actual Costs 343,377,861,004

In [12]:
# Merge 2011 and 2012 total costs per state
medicare_national_cost_early = pd.merge(mc_national_cost_2011, mc_national_cost_2012, 
                        on="index", suffixes=(" 2011", " 2012"))

# Merge 2013 and 2014 total costs per state
medicare_national_cost_mid = pd.merge(mc_national_cost_2013, mc_national_cost_2014, 
                        on="index", suffixes=(" 2013", " 2014"))

# Merge 2015 and 2016 total costs per state
medicare_national_cost_late = pd.merge(mc_national_cost_2015, mc_national_cost_2016, 
                        on="index", suffixes=(" 2015", " 2016"))

# Merge all total costs per state
medicare_national_merge1 = pd.merge(medicare_national_cost_early, 
                            medicare_national_cost_mid, on="index")

# Merge all total costs per state
medicare_national_costs = pd.merge(medicare_national_merge1, 
                            medicare_national_cost_late, on="index")

# Reformatted df
medicare_national_costs = medicare_national_costs.set_index('index')
del medicare_national_costs.index.name
pd.options.display.float_format = '{:,.0f}'.format

# Save to csv
medicare_national_costs.to_csv('Clean_2011_2016/medicare_national_costs2011_2016.csv', 
                                        index = True, header = True)

medicare_national_costs

,2011,2012,2013,2014,2015,2016
FFS Beneficiaries,"33,243,630","33,524,593","33,641,801","33,462,982","33,551,417","33,991,540"
Total Actual Costs,"323,694,090,198","325,627,793,989","326,410,120,897","327,653,738,646","335,133,914,012","343,377,861,004"