In [1]:
# Dependencies
import os
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
path_2008 = ('Resources/2008data.csv')
path_2011 = ('Resources/2011data.csv')
path_2014 = ('Resources/2014data.csv')
path_2017 = ('Resources/2017data.csv')
    
medicare_data_2008 = pd.read_csv(path_2008)
medicare_data_2011 = pd.read_csv(path_2011)
medicare_data_2014 = pd.read_csv(path_2014)
medicare_data_2017 = pd.read_csv(path_2017)

medicare_data_2017.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Beneficiary Demographic Characteristics,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243,Unnamed: 244
0,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,PQI11 Bacterial Pneumonia Admission Rate (age ...,PQI11 Bacterial Pneumonia Admission Rate (age ...,PQI11 Bacterial Pneumonia Admission Rate (age ...,PQI12 UTI Admission Rate (age < 65),PQI12 UTI Admission Rate (age 65-74),PQI12 UTI Admission Rate (age 75+),PQI15 Asthma in Younger Adults Admission Rate ...,PQI16 Lower Extremity Amputation Admission Rat...,PQI16 Lower Extremity Amputation Admission Rat...,PQI16 Lower Extremity Amputation Admission Rat...
1,Na,NATIONAL TOTAL,NaN,"54,577,161","33,725,823","20,851,338",38.21 %,72,54.77 %,45.23 %,...,407,286,909,306,236,997,169,219,66,57
2,AK,STATE TOTAL,NaN,"82,458","80,901","1,557",1.89 %,70,50.51 %,49.49 %,...,192,239,944,122,105,459,*,183,27,43
3,AK,Aleutians East,02013,*,116,*,*,72,44.83 %,55.17 %,...,,,,,,,,,,
4,AK,Aleutians West,02016,*,140,*,*,71,47.14 %,52.86 %,...,,,,,,,,,,