In [1]:
# Dependencies
import os
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

path_medianincome = ("Resources/MedianIncomeData_US.csv")

In [2]:
# Convert file to df
median_income_original = pd.read_csv(path_medianincome)

# Call usuable rows and columns
median_income = median_income_original.iloc[0:35, 0:2]

# Clean up column head
median_income = median_income.rename(columns = {'Median\nincome': "Median Income"})

# Change datatypes
median_income['Year'] = median_income['Year'].astype(int)
median_income['Median Income'] = median_income['Median Income'].str.replace(',', '').astype(int)

# Set index
median_income = median_income.set_index('Year')
del median_income.index.name

# Save to csv
median_income.to_csv('Cleaned_Data/median_income.csv', index = True, header = True)

median_income.head()

      Median Income
1984          22415
1985          23618
1986          24897
1987          26061
1988          27225