In [2]:
# Dependencies
import os
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
path_2008 = ('Resources/2008data.csv')
path_2011 = ('Resources/2011data.csv')
path_2014 = ('Resources/2014data.csv')
path_2017 = ('Resources/2017data.csv')
    
medicare_data_2008_extended = pd.read_csv(path_2008)
medicare_data_2011_extended = pd.read_csv(path_2011)
medicare_data_2014_extended = pd.read_csv(path_2014)
medicare_data_2017_extended = pd.read_csv(path_2017)

medicare_data_2017_extended.head()

,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,PQI11 Bacterial Pneumonia Admission Rate (age < 65),PQI11 Bacterial Pneumonia Admission Rate (age 65-74),PQI11 Bacterial Pneumonia Admission Rate (age 75+),PQI12 UTI Admission Rate (age < 65),PQI12 UTI Admission Rate (age 65-74),PQI12 UTI Admission Rate (age 75+),PQI15 Asthma in Younger Adults Admission Rate (age < 40),PQI16 Lower Extremity Amputation Admission Rate (age < 65),PQI16 Lower Extremity Amputation Admission Rate (age 65-74),PQI16 Lower Extremity Amputation Admission Rate (age 75+)
0,Na,NATIONAL TOTAL,NaN,"54,577,161","33,725,823","20,851,338",38.21%,72,54.77%,45.23%,...,407,286,909,306,236,997,169,219,66,57
1,AK,STATE TOTAL,NaN,"82,458","80,901","1,557",1.89%,70,50.51%,49.49%,...,192,239,944,122,105,459,*,183,27,43
2,AK,Aleutians East,2013.0,*,116,*,*,72,44.83%,55.17%,...,,,,,,,,,,
3,AK,Aleutians West,2016.0,*,140,*,*,71,47.14%,52.86%,...,,,,,,,,,,
4,AK,Anchorage,2020.0,"31,585","30,910",675,2.14%,70,52.75%,47.25%,...,,,,,,,,,,

In [14]:
# Created usuable data df by years
medicare_data_2008 = medicare_data_2008_extended.iloc[:, 0:22]
medicare_data_2011 = medicare_data_2011_extended.iloc[:, 0:22]
medicare_data_2014 = medicare_data_2014_extended.iloc[:, 0:22]
medicare_data_2017 = medicare_data_2017_extended.iloc[:, 0:22]

medicare_data_2017.head()

,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,Percent Hispanic,Percent Other/Unknown,Percent Eligible for Medicaid,Average HCC Score,Total Actual Costs,Total Standardized Costs,Total Standardized Risk-Adjusted Costs,Actual Per Capita Costs,Standardized Per Capita Costs,Standardized Risk-Adjusted Per Capita Costs
0,Na,NATIONAL TOTAL,NaN,"54,577,161","33,725,823","20,851,338",38.21%,72,54.77%,45.23%,...,5.71%,5.45%,20.37%,1,"$348,396,197,603.59","$329,204,404,222.65","$347,066,332,266.19","$10,330.25","$9,761.20","$10,290.82"
1,AK,STATE TOTAL,NaN,"82,458","80,901","1,557",1.89%,70,50.51%,49.49%,...,2.56%,20.83%,23.13%,0.83,"$772,816,832.68","$569,720,109.14","$723,761,970.42","$9,552.62","$7,042.19","$8,946.27"
2,AK,Aleutians East,2013.0,*,116,*,*,72,44.83%,55.17%,...,0.00%,80.17%,20.69%,0.75,"$1,094,907.52","$831,176.61","$935,141.83","$9,438.86","$7,165.32","$8,061.57"
3,AK,Aleutians West,2016.0,*,140,*,*,71,47.14%,52.86%,...,*,*,26.43%,0.84,"$837,949.98","$599,825.61","$826,569.07","$5,985.36","$4,284.47","$5,904.06"
4,AK,Anchorage,2020.0,"31,585","30,910",675,2.14%,70,52.75%,47.25%,...,4.15%,20.14%,24.25%,0.88,"$281,350,615.30","$218,270,962.94","$259,182,160.55","$9,102.25","$7,061.50","$8,385.06"

In [23]:
# State total df broken down by years
medicare_state_data_2008 = medicare_data_2008.loc[(
                medicare_data_2008['County'] == 'STATE TOTAL'), :]

medicare_state_data_2011 = medicare_data_2011.loc[(
                medicare_data_2011['County'] == 'STATE TOTAL'), :]

medicare_state_data_2014 = medicare_data_2014.loc[(
                medicare_data_2014['County'] == 'STATE TOTAL'), :]

medicare_state_data_2017 = medicare_data_2017.loc[(
                medicare_data_2017['County'] == 'STATE TOTAL'), :]

medicare_state_data_2017.head()

,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,Percent Hispanic,Percent Other/Unknown,Percent Eligible for Medicaid,Average HCC Score,Total Actual Costs,Total Standardized Costs,Total Standardized Risk-Adjusted Costs,Actual Per Capita Costs,Standardized Per Capita Costs,Standardized Risk-Adjusted Per Capita Costs
1,AK,STATE TOTAL,NaN,"82,458","80,901","1,557",1.89%,70,50.51%,49.49%,...,2.56%,20.83%,23.13%,0.83,"$772,816,832.68","$569,720,109.14","$723,761,970.42","$9,552.62","$7,042.19","$8,946.27"
32,AL,STATE TOTAL,NaN,"965,909","579,331","386,578",40.02%,70,54.99%,45.01%,...,0.71%,1.53%,22.25%,1.01,"$5,477,483,848.58","$6,027,755,619.68","$6,441,641,890.35","$9,454.84","$10,404.68","$11,119.10"
101,AR,STATE TOTAL,NaN,"591,312","444,843","146,469",24.77%,71,55.00%,45.00%,...,1.23%,1.89%,21.12%,0.95,"$4,000,943,848.77","$4,321,362,860.11","$4,833,864,726.93","$8,994.06","$9,714.36","$10,866.45"
178,AZ,STATE TOTAL,NaN,"1,155,048","657,084","497,964",43.11%,72,52.95%,47.05%,...,7.68%,7.10%,10.75%,0.91,"$6,268,738,650.65","$5,876,660,154.48","$6,908,577,192.46","$9,540.24","$8,943.54","$10,513.99"
195,CA,STATE TOTAL,NaN,"5,461,060","2,845,251","2,615,809",47.90%,72,53.95%,46.05%,...,16.37%,14.39%,30.33%,1.03,"$33,671,826,462.13","$26,863,938,990.77","$26,840,271,207.07","$11,834.40","$9,441.68","$9,433.36"