In [1]:
# Dependencies
import os
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

path_medianincome = ("Resources/MedianIncomeData.csv")

In [2]:
median_income = pd.read_csv(path_medianincome)
median_income.head()

,State,2018 Median\nincome,2017 Median\nincome,2016 Median\nincome,2015 Median\nincome,2014 Median\nincome,2013 Median\nincome,2012Median\nincome,2011 Median\nincome,2010 Median\nincome,2009 Median\nincome,2008 Median\nincome,2007 Median\nincome
0,United States,"63,179","61,136","59,039","56,516","53,657","53,585","51,017","50,054","49,276","49,777","50,303","50,233"
1,Alabama,"49,936","50,865","47,221","44,509","42,278","47,320","43,464","42,590","40,933","39,980","44,476","42,212"
2,Alaska,"68,734","77,987","75,723","75,112","67,629","72,472","63,648","57,431","57,848","61,604","63,989","62,993"
3,Arizona,"62,283","59,700","57,100","52,248","49,254","52,611","47,044","48,621","46,896","45,739","46,914","47,215"
4,Arkansas,"49,781","49,751","45,907","42,798","44,922","39,376","39,018","41,302","38,587","36,538","39,586","40,795"

In [12]:
#median_income = median_income.set_index('State')
#del median_income.index.name
median_income

,2018 Median\nincome,2017 Median\nincome,2016 Median\nincome,2015 Median\nincome,2014 Median\nincome,2013 Median\nincome,2012Median\nincome,2011 Median\nincome,2010 Median\nincome,2009 Median\nincome,2008 Median\nincome,2007 Median\nincome
United States,"63,179","61,136","59,039","56,516","53,657","53,585","51,017","50,054","49,276","49,777","50,303","50,233"
Alabama,"49,936","50,865","47,221","44,509","42,278","47,320","43,464","42,590","40,933","39,980","44,476","42,212"
Alaska,"68,734","77,987","75,723","75,112","67,629","72,472","63,648","57,431","57,848","61,604","63,989","62,993"
Arizona,"62,283","59,700","57,100","52,248","49,254","52,611","47,044","48,621","46,896","45,739","46,914","47,215"
Arkansas,"49,781","49,751","45,907","42,798","44,922","39,376","39,018","41,302","38,587","36,538","39,586","40,795"
California,"70,489","70,038","66,637","63,636","60,487","60,794","57,020","53,367","54,283","56,134","57,014","55,734"
Colorado,"73,034","74,984","70,566","66,596","60,940","67,912","57,255","58,629","60,233","55,930","60,943","61,141"
Connecticut,"72,812","74,304","75,923","72,889","70,161","69,291","64,247","65,415","65,998","64,851","64,682","64,141"
Delaware,"65,012","64,961","58,046","57,756","57,522","54,091","48,972","54,660","55,214","52,114","50,702","54,589"
D.C.,"85,750","81,282","70,982","70,071","68,277","60,057","65,246","55,251","56,928","53,141","55,590","50,783"
Florida,"54,644","53,086","51,176","48,825","46,140","48,532","46,071","45,105","44,066","45,631","44,857","45,794"
Georgia,"55,821","57,985","53,527","50,768","49,555","46,992","48,121","45,973","44,117","43,340","46,227","48,641"
Hawaii,"80,108","73,599","72,133","64,514","71,223","64,235","56,263","59,047","59,539","55,649","61,521","64,022"
Idaho,"58,728","59,497","56,564","51,624","53,438","48,467","47,922","47,459","47,050","46,778","47,420","49,184"
Illinois,"70,145","65,969","61,386","60,413","54,916","53,937","51,738","50,637","50,728","52,870","53,254","52,506"
Indiana,"59,892","58,767","56,094","51,983","48,060","49,455","46,158","44,445","46,139","44,305","46,520","47,453"
Iowa,"68,718","63,467","59,094","60,855","57,810","60,156","53,442","50,219","49,016","50,721","50,142","48,908"
Kansas,"63,938","56,900","56,810","54,865","53,444","47,820","50,003","46,147","46,054","44,717","47,877","48,497"
Kentucky,"54,555","49,672","45,369","42,387","42,786","44,879","41,086","39,856","41,104","42,664","41,148","39,452"
Louisiana,"49,973","43,565","42,196","45,922","42,406","46,425","39,085","40,658","39,300","45,433","39,563","41,313"
Maine,"58,663","53,316","50,856","50,756","51,710","54,957","49,158","49,693","47,931","47,502","47,228","47,894"
Maryland,"86,223","82,093","73,760","73,594","76,165","69,353","71,836","68,876","64,201","64,186","63,711","65,630"
Massachusetts,"86,345","76,243","72,266","67,861","63,151","62,529","63,656","63,313","60,934","59,373","60,320","58,463"
Michigan,"60,449","56,405","57,091","54,203","52,005","56,567","50,015","48,879","46,276","45,994","49,788","49,370"
Minnesota,"71,817","69,975","70,218","68,730","67,244","64,324","61,795","57,820","52,321","56,090","54,925","58,058"
Mississippi,"42,781","43,281","41,099","40,037","35,521","32,338","36,641","41,090","38,160","35,078","36,446","37,279"
Missouri,"61,726","56,530","55,016","59,196","56,630","46,303","49,764","45,774","45,817","48,769","46,038","46,005"
Montana,"57,679","57,407","57,075","51,395","51,102","43,201","45,088","40,277","41,280","40,437","42,900","43,655"
Nebraska,"67,575","59,583","59,374","60,474","56,870","57,623","52,196","55,616","52,504","49,595","50,728","49,174"
Nevada,"61,864","58,041","55,431","52,008","49,875","51,846","47,333","47,043","51,200","51,434","54,744","54,058"
New Hampshire,"81,346","75,630","76,260","75,675","73,397","69,099","67,819","65,880","66,633","64,131","66,176","67,576"
New Jersey,"74,176","71,240","68,468","68,357","65,243","63,754","66,692","62,338","62,968","64,777","65,306","60,508"
New Mexico,"48,283","45,601","48,451","45,119","46,686","40,166","43,424","41,982","45,134","43,542","42,102","44,356"
New York,"67,274","61,543","61,437","58,005","54,310","49,966","47,680","50,636","49,781","50,216","50,461","48,944"
North Carolina,"53,369","49,547","53,764","50,797","46,784","46,337","41,553","45,206","43,830","41,906","42,930","43,513"
North Dakota,"66,505","60,167","60,184","57,415","60,730","59,152","55,766","56,361","51,006","50,075","49,631","47,205"
Ohio,"61,633","60,688","53,985","53,301","49,644","50,748","44,375","44,648","45,886","45,879","46,934","49,099"
Oklahoma,"54,434","51,882","50,943","47,077","47,199","46,162","48,407","48,455","43,103","45,878","46,111","43,216"
Oregon,"69,165","62,498","59,135","60,834","58,875","48,999","51,775","51,526","50,602","49,098","51,727","50,236"
Pennsylvania,"64,524","61,285","60,979","60,389","55,173","55,156","51,904","49,910","48,314","48,172","51,402","48,437"
Rhode Island,"62,266","65,401","61,528","55,701","58,633","56,323","56,065","49,033","51,623","51,634","53,241","54,210"
South Carolina,"57,444","54,537","54,336","46,360","44,929","43,563","44,401","40,084","41,698","41,101","42,155","44,213"
South Dakota,"59,463","56,914","57,450","55,065","53,053","53,413","49,415","47,223","45,352","45,826","51,600","46,418"
Tennessee,"56,060","55,306","51,344","47,330","43,716","43,361","42,995","42,279","38,591","40,517","39,702","41,195"
Texas,"59,785","60,092","58,146","56,473","53,875","51,406","51,926","49,047","47,266","47,475","46,490","46,053"
Utah,"77,067","69,789","67,481","66,258","63,383","61,047","58,341","55,493","56,701","58,491","62,537","53,529"
Vermont,"70,066","63,682","60,837","59,494","60,708","65,513","55,582","51,862","55,928","52,318","50,706","47,390"
Virginia,"77,151","70,811","66,451","61,486","66,155","65,907","64,632","62,616","60,367","60,501","61,985","59,161"
Washington,"79,726","71,540","70,310","67,243","59,068","63,922","62,187","56,850","56,163","60,392","56,631","58,080"
West Virginia,"50,573","46,957","44,354","42,824","39,552","43,069","43,553","41,821","42,777","40,490","37,994","42,091"
Wisconsin,"62,629","63,482","59,817","55,425","58,080","51,726","53,079","52,058","50,351","51,237","51,200","51,277"
Wyoming,"62,539","59,536","57,829","60,925","55,690","67,441","57,512","54,509","52,201","52,470","53,337","48,744"