In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [2]:
healthcomp_csv = pd.read_csv('Clean_2011_2016/health_consumption_expenditures2011_2016.csv')
total_national = pd.read_csv('Clean_2011_2016/total_national_expenditures2011-216.csv')
historical = pd.read_csv('Clean_2011_2016/healthcare_historical_data_summary2011_2016.csv')
health_habits = pd.read_csv('Resources/health_habits.csv')

healthConsumptionDf = pd.DataFrame(healthcomp_csv)
totalExpenditures = pd.DataFrame(total_national)
historicalHealthCare = pd.DataFrame(historical)
health_behavior = pd.DataFrame(health_habits)

In [26]:
health_behavior.rename(columns={"Start":"Year","LocationAbbr":"State","Data_Value":"Percent Adults"},inplace=True)
clean_health_behavior = health_behavior.loc[:,["Year","State","Topic","Question","Percent Adults","Sample_Size","Total","GeoLocation"]]
#clean_health_behavior.head()

In [27]:
clean_health_behavior['Obese_Count'] = round((clean_health_behavior['Percent Adults']/100) * clean_health_behavior['Sample_Size'],2)

In [28]:
clean_health_behavior.head()

,Year,State,Topic,Question,Percent Adults,Sample_Size,Total,GeoLocation,Obese_Count
0,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.0,7304.0,Total,"(32.84057112200048, -86.63186076199969)",2337.28
1,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.3,2581.0,NaN,"(32.84057112200048, -86.63186076199969)",833.66
2,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,31.8,4723.0,NaN,"(32.84057112200048, -86.63186076199969)",1501.91
3,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,33.6,1153.0,NaN,"(32.84057112200048, -86.63186076199969)",387.41
4,2011,AL,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.8,2402.0,NaN,"(32.84057112200048, -86.63186076199969)",787.86

In [51]:
total_by_state = clean_health_behavior.loc[clean_health_behavior["Total"] == "Total"]
total_obesity_by_state = total_by_state.loc[total_by_state["Question"] == "Percent of adults aged 18 years and older who have obesity"]
us_total = total_obesity_by_state.loc[total_obesity_by_state["State"] == "US"]
total_obesity_by_state.set_index("State",inplace=True)
total_obesity_by_state.sort_values(by=['Year'],inplace=True)
total_obesity_by_state.head()

C:\Users\ramiresh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Year,Topic,Question,Percent Adults,Sample_Size,Total,GeoLocation,Obese_Count
State,,,,,,,,
AL,2011,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.0,7304.0,Total,"(32.84057112200048, -86.63186076199969)",2337.28
OR,2011,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,26.7,5959.0,Total,"(44.56744942400047, -120.15503132599969)",1591.05
FL,2011,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,26.6,11770.0,Total,"(28.932040377000476, -81.92896053899966)",3130.82
OK,2011,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,31.1,8159.0,Total,"(35.47203135600046, -97.52107021399968)",2537.45
OH,2011,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,29.6,9339.0,Total,"(40.06021014100048, -82.40426005599966)",2764.34

In [35]:
drop_rows = total_obesity_by_state.drop(["VI","GU","PR"],axis=0)

In [48]:
overall_cleaned_obesity_data = total_obesity_by_state.loc[:,["Year","Percent Adults","Sample_Size","Obese_Count","GeoLocation"]]

In [49]:
overall_cleaned_obesity_data.to_csv('overall_clean_obesity_data.csv')

In [55]:
us_total = us_total.loc[:,["Year","Percent Adults","Sample_Size","Obese_Count"]] 
us_total.sort_values(by=['Year'],inplace=True)
us_total.head()

       Year  Percent Adults  Sample_Size  Obese_Count
18264  2011            27.4     470700.0    128971.80
18513  2012            27.7     442230.0    122497.71
18570  2013            28.3     457487.0    129468.82
18821  2014            28.9     425875.0    123077.87
387    2015            28.9     398316.0    115113.32

In [56]:
us_total.to_csv('us_obesity_total.csv')