In [5]:
import os
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#file paths
path_age_2000s = ('Resources/age_distribution_2000s.csv')
path_age_2011 = ('Resources/age_distribution_2011.csv')
path_age_2012 = ('Resources/age_distribution_2012.csv')
path_age_2013 = ('Resources/age_distribution_2013.csv')
path_age_2014 = ('Resources/age_distribution_2014.csv')
path_age_2015 = ('Resources/age_distribution_2015.csv')
path_age_2016 = ('Resources/age_distribution_2016.csv')

In [6]:
age_dist_2000s = pd.read_csv(path_age_2000s)
age_dist_2000s

,Unnamed: 0,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Total,"282,162,411","284,968,955","287,625,193","290,107,933","292,805,298","295,516,599","298,379,912","301,231,207","304,093,966","306,771,529","308,745,538"
1,Under 5 years,"19,178,293","19,298,217","19,429,192","19,592,446","19,785,885","19,917,400","19,938,883","20,125,962","20,271,127","20,244,518","20,201,362"
2,5 to 9 years,"20,463,852","20,173,362","19,872,417","19,620,851","19,454,237","19,389,067","19,544,688","19,714,611","19,929,602","20,182,499","20,348,657"
3,10 to 14 years,"20,637,696","20,978,678","21,261,421","21,415,353","21,411,680","21,212,579","21,033,138","20,841,042","20,706,655","20,660,564","20,677,194"
4,15 to 19 years,"20,294,955","20,456,284","20,610,370","20,797,166","21,102,552","21,486,214","21,807,709","22,067,816","22,210,880","22,192,810","22,040,343"
5,20 to 24 years,"19,116,667","19,757,286","20,243,765","20,591,688","20,845,560","20,959,955","21,036,135","21,077,999","21,180,612","21,384,122","21,585,999"
6,25 to 29 years,"19,280,263","18,819,347","18,691,340","18,771,585","19,107,055","19,534,710","20,110,011","20,542,698","20,902,668","21,078,228","21,101,849"
7,30 to 34 years,"20,524,234","20,652,175","20,658,306","20,472,210","20,159,501","19,723,937","19,285,168","19,170,765","19,304,805","19,645,114","19,962,099"
8,35 to 39 years,"22,650,852","22,235,918","21,751,218","21,264,159","20,874,649","20,798,653","20,941,233","20,963,891","20,817,463","20,507,796","20,179,642"
9,40 to 44 years,"22,517,991","22,815,834","22,889,431","22,890,047","22,925,626","22,706,885","22,302,568","21,832,339","21,375,023","20,980,015","20,890,964"
10,45 to 49 years,"20,219,527","20,698,983","21,252,288","21,722,676","22,065,262","22,417,171","22,715,286","22,799,761","22,820,973","22,862,245","22,708,591"
11,50 to 54 years,"17,779,447","18,687,285","18,739,906","19,097,278","19,564,668","20,078,733","20,570,873","21,140,178","21,639,474","22,004,843","22,298,125"
12,55 to 59 years,"13,565,937","13,968,975","15,143,067","15,814,557","16,607,176","17,503,220","18,396,860","18,454,772","18,814,568","19,280,603","19,664,805"
13,60 to 64 years,"10,863,129","11,136,320","11,560,265","12,194,388","12,698,128","13,138,277","13,533,253","14,673,662","15,342,495","16,124,997","16,817,924"
14,65 to 69 years,"9,523,909","9,562,233","9,638,481","9,830,796","10,073,429","10,278,627","10,553,201","10,970,235","11,594,347","12,092,377","12,435,263"
15,70 to 74 years,"8,860,028","8,821,946","8,750,054","8,670,119","8,594,104","8,603,070","8,649,826","8,728,492","8,911,332","9,140,722","9,278,166"
16,75 to 79 years,"7,438,619","7,455,413","7,470,461","7,497,842","7,461,399","7,463,609","7,447,034","7,400,363","7,345,743","7,295,064","7,317,795"
17,80 to 84 years,"4,984,540","5,138,205","5,294,403","5,398,596","5,528,504","5,611,193","5,648,117","5,687,076","5,730,359","5,727,711","5,743,327"
18,85 to 89 years,"2,806,405","2,846,666","2,886,374","2,952,567","2,998,919","3,102,921","3,229,873","3,358,466","3,449,778","3,561,170","3,620,459"
19,90 to 94 years,"1,118,191","1,132,118","1,149,716","1,175,910","1,207,286","1,242,587","1,275,975","1,307,782","1,355,592","1,397,519","1,448,366"
20,95 to 99 years,"287,595","285,256","285,775","291,094","293,507","301,368","313,089","325,440","340,954","357,910","371,244"
21,100 years and over,"50,281","48,454","46,943","46,605","46,171","46,423","46,992","47,857","49,516","50,702","53,364"
22,65 years and over,"35,069,568","35,290,291","35,522,207","35,863,529","36,203,319","36,649,798","37,164,107","37,825,711","38,777,621","39,623,175","40,267,984"