In [1]:
# Dependencies
import os
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
path_2008 = ('Resources/2008data.csv')
path_2011 = ('Resources/2011data.csv')
path_2014 = ('Resources/2014data.csv')
path_2017 = ('Resources/2017data.csv')
    
medicare_data_2008 = pd.read_csv(path_2008)
medicare_data_2011 = pd.read_csv(path_2011)
medicare_data_2014 = pd.read_csv(path_2014)
medicare_data_2017 = pd.read_csv(path_2017)

medicare_data_2017.columns

Index(['State', 'County', 'State and County FIPS Code',
       'Beneficiaries with Part A and Part B', 'FFS Beneficiaries',
       'MA Beneficiaries', 'MA Participation Rate', 'Average Age',
       'Percent Female', 'Percent Male',
       ...
       'PQI11 Bacterial Pneumonia Admission Rate (age < 65)',
       'PQI11 Bacterial Pneumonia Admission Rate (age 65-74)',
       'PQI11 Bacterial Pneumonia Admission Rate (age 75+)',
       'PQI12 UTI Admission Rate (age < 65)',
       'PQI12 UTI Admission Rate (age 65-74)',
       'PQI12 UTI Admission Rate (age 75+)',
       'PQI15 Asthma in Younger Adults Admission Rate (age < 40)',
       'PQI16 Lower Extremity Amputation Admission Rate (age < 65)',
       'PQI16 Lower Extremity Amputation Admission Rate (age 65-74)',
       'PQI16 Lower Extremity Amputation Admission Rate (age 75+)'],
      dtype='object', length=245)

In [8]:
medicare_data_2011_clean = medicare_data_2011.iloc(:,[1:26])

SyntaxError: invalid syntax (<ipython-input-8-6cf944964f6e>, line 1)

In [7]:
medicare_data_2011_clean.head()

,State,County,State and County FIPS Code,Beneficiaries with Part A and Part B,FFS Beneficiaries,MA Beneficiaries,MA Participation Rate,Average Age,Percent Female,Percent Male,...,PQI11 Bacterial Pneumonia Admission Rate (age < 65),PQI11 Bacterial Pneumonia Admission Rate (age 65-74),PQI11 Bacterial Pneumonia Admission Rate (age 75+),PQI12 UTI Admission Rate (age < 65),PQI12 UTI Admission Rate (age 65-74),PQI12 UTI Admission Rate (age 75+),PQI15 Asthma in Younger Adults Admission Rate (age < 40),PQI16 Lower Extremity Amputation Admission Rate (age < 65),PQI16 Lower Extremity Amputation Admission Rate (age 65-74),PQI16 Lower Extremity Amputation Admission Rate (age 75+)
1,AK,STATE TOTAL,NaN,"63,441","62,803",638,1.01%,70,50.58%,49.42%,...,834,536,"1,804",239,191,937,*,*,38,69
2,AK,Aleutians East,2013.0,*,96,*,*,70,44.79%,55.21%,...,,,,,,,,,,
3,AK,Aleutians West,2016.0,111,111,0,0.00%,70,46.85%,53.15%,...,,,,,,,,,,
4,AK,Anchorage,2020.0,"24,713","24,438",275,1.11%,69,52.88%,47.12%,...,,,,,,,,,,
5,AK,Bethel,2050.0,*,964,*,*,71,50.00%,50.00%,...,,,,,,,,,,

In [13]:
median_vs_medicare_2008_df = pd.DataFrame(medicare_data_2008)
median_vs_medicare_2011_df = pd.DataFrame(medicare_data_2011)
median_vs_medicare_2014_df = pd.DataFrame(medicare_data_2014)
median_vs_medicare_2017_df = pd.DataFrame(medicare_data_2017)

In [ ]:
median_vs_medicare_2008_df

In [9]:
median_income = pd.read_csv("Resources/MedianIncomeData.csv")

In [11]:
median_income.head(20)

,State,2018 Median\r\nincome,2017 Median\r\nincome,2016 Median\r\nincome,2015 Median\r\nincome,2014 Median\r\nincome,2013 Median\r\nincome,2012Median\r\nincome,2011 Median\r\nincome,2010 Median\r\nincome,2009 Median\r\nincome,2008 Median\r\nincome,2007 Median\r\nincome
0,United States,"63,179","61,136","59,039","56,516","53,657","53,585","51,017","50,054","49,276","49,777","50,303","50,233"
1,Alabama,"49,936","50,865","47,221","44,509","42,278","47,320","43,464","42,590","40,933","39,980","44,476","42,212"
2,Alaska,"68,734","77,987","75,723","75,112","67,629","72,472","63,648","57,431","57,848","61,604","63,989","62,993"
3,Arizona,"62,283","59,700","57,100","52,248","49,254","52,611","47,044","48,621","46,896","45,739","46,914","47,215"
4,Arkansas,"49,781","49,751","45,907","42,798","44,922","39,376","39,018","41,302","38,587","36,538","39,586","40,795"
5,California,"70,489","70,038","66,637","63,636","60,487","60,794","57,020","53,367","54,283","56,134","57,014","55,734"
6,Colorado,"73,034","74,984","70,566","66,596","60,940","67,912","57,255","58,629","60,233","55,930","60,943","61,141"
7,Connecticut,"72,812","74,304","75,923","72,889","70,161","69,291","64,247","65,415","65,998","64,851","64,682","64,141"
8,Delaware,"65,012","64,961","58,046","57,756","57,522","54,091","48,972","54,660","55,214","52,114","50,702","54,589"
9,D.C.,"85,750","81,282","70,982","70,071","68,277","60,057","65,246","55,251","56,928","53,141","55,590","50,783"
10,Florida,"54,644","53,086","51,176","48,825","46,140","48,532","46,071","45,105","44,066","45,631","44,857","45,794"
11,Georgia,"55,821","57,985","53,527","50,768","49,555","46,992","48,121","45,973","44,117","43,340","46,227","48,641"
12,Hawaii,"80,108","73,599","72,133","64,514","71,223","64,235","56,263","59,047","59,539","55,649","61,521","64,022"
13,Idaho,"58,728","59,497","56,564","51,624","53,438","48,467","47,922","47,459","47,050","46,778","47,420","49,184"
14,Illinois,"70,145","65,969","61,386","60,413","54,916","53,937","51,738","50,637","50,728","52,870","53,254","52,506"
15,Indiana,"59,892","58,767","56,094","51,983","48,060","49,455","46,158","44,445","46,139","44,305","46,520","47,453"
16,Iowa,"68,718","63,467","59,094","60,855","57,810","60,156","53,442","50,219","49,016","50,721","50,142","48,908"
17,Kansas,"63,938","56,900","56,810","54,865","53,444","47,820","50,003","46,147","46,054","44,717","47,877","48,497"
18,Kentucky,"54,555","49,672","45,369","42,387","42,786","44,879","41,086","39,856","41,104","42,664","41,148","39,452"
19,Louisiana,"49,973","43,565","42,196","45,922","42,406","46,425","39,085","40,658","39,300","45,433","39,563","41,313"